.pudla{
    padding: 30px;
}

.pudlo1{
    background-color:red;
    top: 0px;
    left: 0px;
    position:relative;
    width: 5vw;
    height:5vw;
}

.pudlo2{
    background-color:green;
    top: 0vw;
    left: 5vw;
    position: relative;
    width: 10vw;
    height:10vw;
}

.pudlo3{
    background-color:blue;
    top: 0vw;
    left: 15vw;
    position: relative;
    width: 20vw;
    height:20vw;
}