body{
  background-color: white;
}

.pierwsza {
  font-family: "MinecraftiaRegular";
  background-color: #cccccc;
}

.druga {
  font-family: "MinecraftiaRegular";
  background-color: #aacccc;
  text-indent: 60px;
}

.drugaSrodek {
  text-indent: 0px;
  font-family: "Roboto";
  background-color: #ccc888;
}

li {
  text-indent: 0px;
}

#unique{
  color: #442299;
}

.unikalna {
  color: #992244;
}

table, th, td{
  border-collapse: collapse;
  border: solid 1px black;
}

.naglowek {
  background-color: blue;
  color: white;
  text-align: center;
}

.zawartosc {
  background-color: #b3ffb3;

}

.awaria {
  background-color: #ff8888;
}

.przycisk{
  background-color: red;
  color: white;
  width: 100px;
  height: 40px;
}

.przycisk:hover{
  background-color: blue;
  color: white;
  width: 100px;
  height: 40px;
}

.leftSide{
  border: solid 1px red;
  position: absolute;
  width: 25%;
  height: 100px;
}
.top{
  border: solid 1px green;
  height: 45px;
}
.bottom{
  border: solid 1px blue;
}
.content{
  border: solid 1px black;
  position: absolute;
  width: 60%;
  left: 30%;
  height: 100px;
}
