table, th, td{
  border-collapse: collapse;
  border: solid 1px black;
}

.naglowek {
  background-color: blue;
  color: white;
  text-align: center;
}

.zawartosc {
  background-color: #b3ffb3;

}

.awaria {
  background-color: #ff8888;
}
